%section
	.row
		.container
			.span12
				.information.content
					= render 'information'

			.span12
				.controls.content
					= render 'options'

			.span12
				.code_result.content
					= render 'code_result'